/* General */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #f7f3f0;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #f7f3f0;
  box-shadow: 0 0 10px 0;
}

nav img {
  width: auto;
  height: 50px;
  box-shadow: 10;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 0 10px;
}

nav ul li:first-child {
  padding-left: 0;
}

nav ul li:last-child {
  padding-right: 0;
}

nav ul li a {
  font-style: italic;
  text-decoration: none;
  color: #5b2434;
}

#menu {
  display: none;
}

/* Only applies to screen sizes lower than 768 pixels wide */
@media screen and (max-width: 768px) {
  nav {
    position: relative;
  }

  nav ul {
    display: none;
    background: #5b2434;
    position: absolute;
    top: 84px;
    left: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  nav ul.active {
    display: block;
  }

  nav ul li {
    padding: 10px 0;
  }

  nav ul li a {
    color: #f7f3f0;
  }

  #menu {
    display: block;
  }
}

a.active {
  font-weight: bold;
}

h1 {
  font-size: 60px;
  color: white;
  position: relative;
}

p {
  font-size: 4\20px;
  color: white;
  position: relative;
}

.culprithead {
  font-size: 40px;
  color: #5b2434;
  padding-left: 20px;
  text-decoration: underline;
}

.culpritp {
  font-size: 20px;
  word-spacing: 55;
  color: #5b2434;
  max-width: 600px;
  padding-left: 20px;
}

.youtubevid {
  padding-top: 56.25%;
  position: relative;
}

.youtubevid > iframe {
  position: absolute;
  top: 0;
  left: 20px;
  width: 80%;
  height: 100%;
}

.damagehead {
  font-size: 40px;
  color: #5b2434;
  padding-left: 20px;
}

.damagep {
  font-size: 20px;
  word-spacing: 55;
  color: #5b2434;
  max-width: 800px;
  padding-left: 20px;
}

.flex-container {
  padding-left: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.futurehead {
  font-size: 40px;
  color: #5b2434;
  padding-left: 30px;
  text-decoration: underline;
  position: relative;
  top: 20px;
}

.futurep {
  font-size: 20px;
  word-spacing: 55;
  color: #5b2434;
  max-width: 800px;
  padding-left: 30px;
}

.futureimg {
  position: relative;
  left: 910px;
  bottom: 200px;
}

.box {
  width: 400px;
  height: auto;
  border: 5px solid #5b2434;
  position: relative;
  left: 950px;
  bottom: 600px;
}

.creditshead {
  font-size: 40px;
  color: #5b2434;
  padding-left: 20px;
}

.creditsp {
  font-size: 20px;
  word-spacing: 55;
  color: #5b2434;
  max-width: 600px;
  padding-left: 20px;
}

.faqshead {
  font-size: 40px;
  color: #5b2434;
  padding-left: 20px;
}

.faqsp {
  font-size: 20px;
  word-spacing: 55;
  color: #5b2434;
  max-width: 600px;
  padding-left: 20px;
}
